<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top " id="navb">

        <a class="navbar-brand text-white" href="./explore">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="./profile" tabindex="-4">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="./explore" tabindex="-1">Explore</a>
                    </li>
                    <li class="nav-item " style="background-color: rgba(160, 116, 243, 0.596);">
                        <a class="nav-link text-white" href="./post" tabindex="-1">Post</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="#" tabindex="-1">Actors</a>
                    </li> -->

                    {{!-- <li>
                        <form class="form-inline my-2 my-lg-0 " style="margin-left: 100px; ">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li> --}}
                </ul>
                <button onclick="window.location.href='/Logout'" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>

                {{!-- <button onclick="window.location.href='/signup'" class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 10px;">Sign Up</button> --}}


            </div>
        </div>

    </nav>

    <!-- !navbar -->
<br><br><br><br>
<div class="container">
    <h1> Create Post!</h1>
    <form method="POST" action="/newpost" >
        <div class="form-group">
    <textarea class="form-control" name="body" placeholder="What's going in your mind" rows="5"></textarea>
  </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>